body{
    font-family: monospace;
    background-color: white;
}

.nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
.nav-title{
    font-size: 1.5rem;
    margin-left: 25px;
    flex: 1;
}
.nav-links{
    flex: 3;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a{
    color: white;
    text-decoration: none;
}
.btn{
    height: 30px;
    width: 100px;
    background-color: teal;
    color: white;
    border: none;
    font-size: 18px;
    box-shadow: 5px 5px gray;
    cursor: pointer;
}