* {
    background-color : black;
    color : white;
    vertical-align : bottom;
}

.nav {
    border : white solid 1px;
}

.container {
    display : flex;
    justify-content : space-evenly;
    margin : auto;
    align-items : center;
}

.nav-title {
    margin-right : 200px;
    margin-left : 20px;
}

.nav-links {
    margin : auto;
    margin-right : 20px;
}

a {
    margin : 5px;
    padding : 5px;
}

button {
    background-color : blue;
    padding : 2px 5px;
    font-size : 12px;
    text-align : center;
    cursor : pointer;
    color : #fff;
    box-shadow : 2px 2px #999;
    border : white solid 1px;
}

button:hover {
/* all button animation copied from google */
    background-color : #040735;
}

button:active {
    background-color : #3e8e41;
    box-shadow : 0 5px #666;
    transform : translateY(4px);
}