<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete a Course</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-4">Are you sure you want to delete the following course?</h1>
                <div class="row mb-5">
                    <div class="col-3">
                        <p>Name:</p>
                        <p>Description:</p>
                    </div>
                    <div class="col-9">
                        <p>{{course.name}}</p>
                        <p>{{course.description.desc}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-around">
                        <a href="/" class="btn btn-primary">No</a>
                        <a href="/courses/delete/{{course.id}}/confirm/" class="btn btn-danger">Yes! I want to delete this!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>