{% for message in messages reversed %}
<div class="row mb-5">
    <div class="col-12 mb-3">
        <p class="mb-1">{{message.user.f_name}} {{message.user.l_name}} - {{message.updated_at}}</p>
        <p class="px-2">{{message.content}}</p>
        {% if message.user.id == request.session.logged_user_id %}
        <p><a href="/wall/delete/message/{{message.id}}/">Delete Message</a></p>
        {% endif %}
    </div>
    {% if message.comments.all|length > 0 %}
    <div class="col-12" id="comments">
        {% for comment in message.comments.all %}
        <div class="col-11 offset-1 mb-3">
            <p class="mb-1"><b>{{comment.user.f_name}} {{comment.user.l_name}} - {{comment.updated_at}}</b></p>
            <p class="px-2">{{comment.content}}</p>
            {% if comment.user.id == request.session.logged_user_id %}
            <p><a href="/wall/delete/comment/{{comment.id}}/">Delete Comment</a></p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="col-11 offset-1">
        <form method="POST" class="comment_form">
            {% csrf_token %}
            <h5>Post a comment</h5>
            <input type="hidden" name="user_id" value="{{request.session.logged_user_id}}">
            <input type="hidden" name="message_id" value="{{message.id}}">
            <textarea name="comment" class="w-100"></textarea>
            <input type="submit" value="Post a comment">
        </form>
    </div>
</div>
{% endfor %}