h1 {
    text-decoration: underline;
}

input[type='text'], select, textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

textarea {
    height: 200px;
}

.button, button {
    margin-left: auto;
    padding: 5px 10px;
    background-color: #76A5AF;
    color: #fff;
    box-shadow: 3px 3px #000;
}

.button, button:hover {
    cursor: pointer;
}