<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                <h3>Thank you for your business!</h3>
                <p>We charged your credit card for ${{last_total}}</p>
                <p>You have ordered {{num_orders}} items so far and spent ${{orders_total}} with Amadon.com!</p>
                <p><a href="/">Go Back</a></p>
            </div>
        </div>
    </div>
</body>
</html>