<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <p class="mr-4"><a href="/books/">All Books</a></p>
                <p><a href="/authors/">All Authors</a></p>
            </div>
            <div class="col-4">
                <h1 class="text-center">Add a Book</h1>
                <form action="/add_book/" method="POST">
                    {% csrf_token %}
                    <div class="d-flex w-100 mb-4 justify-content-between align-items-center">
                        <label for="title" class="mb-0">Title:</label>
                        <input type="text" name="title" id="title">
                    </div>
                    <div class="d-flex w-100 mb-4 justify-content-between align-items-center">
                        <label for="desc" class="mb-0">Description:</label>
                        <textarea name="desc" id="desc" class="w-50"></textarea>
                    </div>
                    <input type="submit" value="Add">
                </form>
            </div>
            <div class="col-4 offset-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                        <tr>
                            <td>{{book.id}}</td>
                            <td>{{book.title}}</td>
                            <td><a href="/books/{{book.id}}">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>