<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Word Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'random_word.css' %}">
</head>
<body>
    <div class="container mt-5 p-5 border border-dark">
        <div class="row">
            <div class="col-12">
                <p class="text-center">Random Word (attempt #{{request.session.a_count}})</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4 offset-4 p-2 border border-dark">
                <p class="text-center mb-0">{{request.session.rand_string}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-4 d-flex justify-content-around">
                <a href="./" class="button">Generate</a>
                <a href="/reset/" class="button">Reset</a>
            </div>
        </div>
    </div>
</body>
</html>